# testing
**/.tox

# coverage
**/htmlcov
.coverage
coverage.xml

# dev
.dev.py
.dev

# caches
**/logs
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/dist
**/docs/build
**/_build

# system files
.DS_Store