alabaster
attrs
Babel
black
cachetools
certifi
chardet
charset-normalizer
click
colorama
coverage
coverage-badge
distlib
docutils
exceptiongroup
filelock
freezegun
idna
imagesize
iniconfig
Jinja2
MarkupSafe
mypy-extensions
packaging
pathspec
platformdirs
pluggy
Pygments
pyproject_api
pytest
pytest-cov
python-dateutil
pytz
requests
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tomli
tox
urllib3
virtualenv